/* Site Cosmetics */

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/isitaslinky/rl-training-site/blob/master/assets/images/rl-background.jpg");
    background-size: cover;
    color: #fafafa;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blackground-light {  
    background: rgba(0, 0, 0, 0.3);
}

.blackground-dark {
    background: rgba(0, 0, 0, 0.6);
}

.separator {
    display: none;
}

.row {
    padding-bottom: 50px;
    padding-top: 50px;
}

.justify-content-center {
    padding-top: 25px;
    padding-bottom: 0;
}


/* NAVBAR */

.active {
    text-decoration: none;
    color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(243, 243, 243);
}

/* FOOTER */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(243, 243, 243);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
}

.footer p {
    font-size: 10px;
    width: 100%;
}

/* VIDEO STYLING */

h3 {
    font-size: 18px;
}

p {
    font-size: 13px
}

.link-style-footer {
    text-decoration: none;
    color: #fff;
}

.link-style-footer:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 3px;
}

.link-style {
    text-decoration: none;
    color: #fff;
}

.link-style:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 3px;
}

.text-padding {
    width: 100%;
    height: 240px;
    padding: 10px 10px 10px 10px;
}

/* FORM (SUBMIT) */

.form {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.form-group {
    color: rgb(243, 243, 243);
    text-align: left;
    font-size: 23px;
    padding-bottom: 10px;
}

.form-group small {
    color: rgb(243, 243, 243);
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
}

.form-group input {
    text-align: left;
}

.btn-outline-secondary {
    color: black;
    text-align: center;
    background: rgb(243, 243, 243);
    font-weight: 500;
    border: 1px solid rgb(243, 243, 243);
}

.btn-outline-secondary:hover {
    background: black;
    color: rgb(243, 243, 243);
    font-weight: 500;
    border: 1px solid black;
}

@media (min-width: 280px) and (max-device-width: 280px) {
    body {
        min-width: 280px;
        background-size: cover;
    }

    .container-fluid {
        padding-left: 0;
    }

    .justify-content-center {
        padding-top: 25px;
        padding-bottom: 0;
    }

    .text-padding {
        height: 150px;
        text-transform: inline;
        padding: 10px 10px 10px 10px;
    }

@media (min-width: 375px) and (max-device-width: 375px) {

    iframe {
    padding-left: 0px;
    }

} 



@media (min-width: 720px) and (max-device-width: 759px) {

    .text-padding {
        height: 150px;
        text-transform: inline;
        padding: 10px 10px 10px 10px;
    }
    
    iframe {
        padding-left: 0px;
    }

    .blackground-light {  
        background: rgba(0, 0, 0, 0);
    }

    .blackground-dark {
        background: rgba(0, 0, 0, 0);
    }

    body {
    margin:0;
    padding:0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/isitaslinky/rl-training-site/blob/master/assets/images/rl-background.jpg");
    background-size: cover;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    h3 {
        font-size: 15px;
        padding-left: 5px;
    }

    p {
        font-size: 10px; 
        padding-left: 5px;
    }

    .link-style-footer {
    text-decoration: none;
    color: #fff;
    }

    .link-style-footer:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-top: 3px;
    }

    .footer {
        position: bottom;
        min-width: 375px;
    }

    .separator {
        border-top: 4px solid #fff;
        border-radius: 1px;
        width: 75px;
        padding-bottom: 15px;
    }

}


@media (min-width: 768px) and (max-device-width: 800px) {

    .text-padding {
        height: 150px;
        text-transform: inline;
        padding: 10px 10px 10px 10px;
    }
    
    .embed-responsive-item {
        padding-left: 200px;
    }

    .blackground-light {  
        background: rgba(0, 0, 0, 0);
    }

    .blackground-dark {
        background: rgba(0, 0, 0, 0.6);
    }

    body {
    margin:0;
    padding:0;
    background-image:url("https://github.com/isitaslinky/rl-training-site/blob/master/assets/images/rl-background.jpg");
    background-size: cover;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    h3 {
        font-size: 15px;
        padding-left: 5px;
    }

    p {
        font-size: 10px; 
        padding-left: 5px;
    }

    .link-style-footer {
    text-decoration: none;
    color: #fff;
    }

    .link-style-footer:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-top: 3px;
    }

    .footer {
        position: bottom;
        min-width: 375px;
    }

    .separator {
        border-top: 4px solid #fff;
        border-radius: 1px;
        width: 75px;
        padding-bottom: 15px;
    }

}

@media screen and (min-device-width: 1000px) and (max-device-width: 1024px) {
    
    .text-padding {
        height: 150px;
        text-transform: inline;
        padding: 10px 10px 10px 10px;
    }
    
    iframe {
        padding-left: 0px;
    }

    .container-fluid {
        padding-bottom: 0px;
        text-align: left;
    }

    .blackground-dark {
        background: rgba(0, 0, 0, 0.6);
    }

    body {
        width: 1024px;
        margin-bottom:-200;
        padding:0;
        background-image: url("https://github.com/isitaslinky/rl-training-site/blob/master/assets/images/rl-background.jpg");
        background-size: cover;
        color: #fff;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    h3 {
        font-size: 15px;
        padding-left: 5px;
    }

    p {
        font-size: 10px; 
        padding-left: 5px;
    }

    .link-style-footer {
    text-decoration: none;
    color: #fff;
    }

    .link-style-footer:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-top: 3px;
    }

    .footer {
        min-width: 375px;
    }
    
}