/* Site Cosmetics */

body {
    margin:0;
    padding:0;
    background-image: url('/assets/images/rl-background.jpg');
    color: #fafafa;
    overflow-y: scroll;
    overflow-x: hidden;
}

.spacer {
    min-height: 45px;
}

.large-spacer {
    min-height: 170px;
}

.blackground-light {  
    background: rgba(0, 0, 0, 0.3);
}

.blackground-dark {
    background: rgba(0, 0, 0, 0.6);
}


/* NAVIGATION */

.active {
    text-decoration: none;
    color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(243, 243, 243);
}

/* FOOTER */

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(243, 243, 243);
    text-align: center;
    padding-bottom: 10px;
}

.footer p {
    font-size: 10px;
}

/* VIDEO STYLING */

h3 {
    font-size: 23px;
}

p {
    font-size: 18px
}

.link-style {
    text-decoration: none;
    color: #fff;
}

.link-style:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 3px;
}

/* FORM (SUBMIT) */

.form {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.form-group {
    color: rgb(243, 243, 243);
    text-align: left;
    font-size: 23px;
    padding-bottom: 10px;
}

.form-group small {
    color: rgb(243, 243, 243);
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
}

.form-group input {
    text-align: left;
}

.btn-outline-secondary {
    color: black;
    text-align: center;
    background: rgb(243, 243, 243);
    font-weight: 500;
    border: 1px solid rgb(243, 243, 243);
}

.btn-outline-secondary:hover {
    background: black;
    color: rgb(243, 243, 243);
    font-weight: 500;
    border: 1px solid black;
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    iframe {
        max-width: ;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}