/* Site Cosmetics */

body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/rl-background.jpg');
    background-repeat: no-repeat;
    color: #fafafa;
    overflow-y: scroll;
    overflow-x: hidden;
}

.spacer {
    min-height: 45px;
}

.large-spacer {
    min-height: 170px;
}

.desktop-spacer {
    min-height: 100px;
}

.blackground-light {  
    background: rgba(0, 0, 0, 0.3);
}

.blackground-dark {
    background: rgba(0, 0, 0, 0.6);
}

.separator {
        display: none;
    }

    .training-padding {
        padding-top: 100px;
    }


/* NAVIGATION */

.active {
    text-decoration: none;
    color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(243, 243, 243);
}

/* FOOTER */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(243, 243, 243);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
}

.footer p {
    font-size: 10px;
    width: 100%;
}

/* VIDEO STYLING */

iframe {
    padding-left: 0px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 13px
}

.link-style-footer {
    text-decoration: none;
    color: #fff;
}

.link-style-footer:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 3px;
}

.link-style {
    text-decoration: none;
    color: #fff;
}

.link-style:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 3px;
}

.text-padding {
    width: 355px;
    height: 240px;
    padding: 10px 10px 10px 10px;
}

/* FORM (SUBMIT) */

.form {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.form-group {
    color: rgb(243, 243, 243);
    text-align: left;
    font-size: 23px;
    padding-bottom: 10px;
}

.form-group small {
    color: rgb(243, 243, 243);
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
}

.form-group input {
    text-align: left;
}

.btn-outline-secondary {
    color: black;
    text-align: center;
    background: rgb(243, 243, 243);
    font-weight: 500;
    border: 1px solid rgb(243, 243, 243);
}

.btn-outline-secondary:hover {
    background: black;
    color: rgb(243, 243, 243);
    font-weight: 500;
    border: 1px solid black;
}

@media (max-width: 280px) {

    .force-left {
        padding-left: 0px;
    }

    .text-padding {
        height: 150px;
        text-transform: inline;
        padding: 0px 0px 0px 0px;
    }
    
    iframe {
        padding-left: 0px;
    }

    .blackground-light {  
        background: rgba(0, 0, 0, 0);
    }

    .blackground-dark {
        background: rgba(0, 0, 0, 0.6);
    }

    body {
    margin:0;
    padding:0;
    background-image: url('/assets/images/rl-background.jpg');
    background-repeat: no-repeat;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 10px;
    }

    h3 {
        font-size: 15px;
        padding-left: 5px;
    }

    p {
        font-size: 10px; 
        padding-left: 5px;
    }

    .link-style-footer {
    text-decoration: none;
    color: #fff;
    }

    .link-style-footer:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-top: 3px;
    }

    .footer {
        position: bottom;
        min-width: 375px;
    }

    .container {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .separator {
        border-top: 4px solid #fff;
        border-radius: 1px;
        width: 75px;
        padding-bottom: 15px;
    }

    .spacer-bottom {
        height: 100px;
    }

    .large-spacer {
        display: none;
    }

    
}


@media (max-width: 720px) {

    .force-left {
        padding-left: 0px;
    }

    .text-padding {
        height: 150px;
        text-transform: inline;
        padding: 0px 0px 0px 0px;
    }
    
    iframe {
        padding-left: 0px;
    }

    .blackground-light {  
        background: rgba(0, 0, 0, 0);
    }

    .blackground-dark {
        background: rgba(0, 0, 0, 0);
    }

    body {
    margin:0;
    padding:0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/rl-background.jpg');
    background-repeat: no-repeat;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    h3 {
        font-size: 15px;
        padding-left: 5px;
    }

    p {
        font-size: 10px; 
        padding-left: 5px;
    }

    .link-style-footer {
    text-decoration: none;
    color: #fff;
    }

    .link-style-footer:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-top: 3px;
    }

    .footer {
        position: bottom;
        min-width: 375px;
    }

    .container {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .separator {
        border-top: 4px solid #fff;
        border-radius: 1px;
        width: 75px;
        padding-bottom: 15px;
    }

    .spacer {
        height: 20px;
    }

    .large-spacer {
        max-height: 20px;
    }

    
}


@media (max-width: 768px) {

    .force-left {
        padding-left: 0px;
    }

    .text-padding {
        height: 150px;
        text-transform: inline;
        padding: 0px 0px 0px 0px;
    }
    
    iframe {
        padding-left: 0px;
    }

    .blackground-light {  
        background: rgba(0, 0, 0, 0);
    }

    .blackground-dark {
        background: rgba(0, 0, 0, 0.6);
    }

    body {
    margin:0;
    padding:0;
    background-image:url('/assets/images/rl-background.jpg');
    background-repeat: no-repeat;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    h3 {
        font-size: 15px;
        padding-left: 5px;
    }

    p {
        font-size: 10px; 
        padding-left: 5px;
    }

    .link-style-footer {
    text-decoration: none;
    color: #fff;
    }

    .link-style-footer:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-top: 3px;
    }

    .footer {
        position: bottom;
        min-width: 375px;
    }

    .container {
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .separator {
        border-top: 4px solid #fff;
        border-radius: 1px;
        width: 75px;
        padding-bottom: 15px;
    }

    .spacer {
        height: 20px;
    }

    .large-spacer {
        max-height: 100px;
    }
    
}

@media (min-width: 1024px) {
    .text-padding {
        height: 150px;
        text-transform: inline;
        padding: 0px 0px 0px 0px;
    }
    
    iframe {
        padding-left: 0px;
    }

    .blackground-ipad {  
        background: rgba(0, 0, 0, 0);
        padding-left: 25px;
    }

    .blackground-dark {
        background: rgba(0, 0, 0, 0.6);
    }

    body {
    margin:0;
    padding:0;
    background-image: url('/assets/images/rl-background.jpg');
    background-repeat: no-repeat;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    h3 {
        font-size: 15px;
        padding-left: 5px;
    }

    p {
        font-size: 10px; 
        padding-left: 5px;
    }

    .link-style-footer {
    text-decoration: none;
    color: #fff;
    }

    .link-style-footer:hover {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-top: 3px;
    }

    .footer {
        min-width: 375px;
    }

    .container {
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .separator {
        border-top: 4px solid #fff;
        border-radius: 1px;
        width: 75px;
        padding-bottom: 15px;
        padding-top: 25px;
    }

    .spacer {
        min-height: 20px;
    }

    .ipad-spacer {
        min-height: 54.5px;
    }

    .large-spacer {
        height: 20px;
    }
    
}